body,
html {
  margin: 0;
  padding: 0;
}

nav {
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.5);
}

#logo {
  font-family: Cursive;
}

#current-user-info {
  padding: 50px;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

#current-user-photo {
  border-radius: 75px;
}

#current-user-info-2 {
  padding: 30px;
}

#other-user-info {
  padding: 20px;
}

#user-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#other-user-info-title {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}


.already-follow {
  -webkit-filter:brightness(80%);
}

li {
  list-style: none;
  font-size: 15px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}